.App{
  display:flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
 
}


.Board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height:50%;
  width: 300px;

}


.board-container{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2.5em;
  padding-bottom: 100px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
 
}


